name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build - ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-14
            target: aarch64-apple-darwin
            archive_name: gml-macos-arm64.tar.gz

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Package
        shell: bash
        run: |
          mkdir -p dist
          # Copy binaries to dist folder
          cp target/${{ matrix.target }}/release/gml dist/
          cp target/${{ matrix.target }}/release/gmld dist/
          
          # Create archive
          cd dist
          tar -czf ../${{ matrix.archive_name }} gml gmld

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.archive_name }}

